.encryption{
    margin: 10% 20% 0% 25%;
}
 input[type=button]{
    margin-top: 10px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #146dda;
    border-radius: 5px;
}
input[type=button]:hover,input[type=submit]:active{
    background-color: #6e236c;
    border-radius: 5px;
}
textarea{
    background-color: #ceced0;
    color: rgb(5, 5, 5);
}
